<div class="inputForm">
    <form action="/" method="POST">
        <input name="todoName" id="formInput" placeholder="Add Todo" type="text">
        <input name="priority" id="priority" placeholder="Priority" type="number" min="1" max="10">
        <button type="submit">Submit</button>
    </form>
</div>